{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='img/' + post.author.image_file) }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted"> Posted on {{ moment(post.date_posted).format('ddd D/M/YYYY, [at] h:mm a') }}</small>
              </div>
              <h4><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h4>
              <p class="article-content">{% if post.content|length > 100  %}{{ post.content[:150] }} <a href="{{ url_for('post', post_id=post.id) }}">more</a>{% else  %}{{ post.content }}{% endif  %}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
